


<div style="background: red;width: 20%;">
  

<div style="display: inline-flex;">


  <div ng-repeat="n in nome">
    {{n.name}}
    <br>
    tempo
    <br>
    Certificado
    <br>
    Gratuito
    <br>
    <button>click Aqui</button>

  </div>

</div>


<!-- 


  <table border="=1" style="width: 30%; " style="display: flex;" >
    <thead style="background: blue;color: white;">
      <tr>
        <td ng-repeat="n in nome"> {{n.name}} </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td ng-repeat="n in nome">
          {{n.name}}
          <br>
          tempo
          <br>
          Certificado
          <br>
          Gratuito
          <br>
          <button>click Aqui</button>
        </td>

        <td ng-repeat="n in nome">
          {{n.name}}
          <br>
          tempo
          <br>
          Certificado
          <br>
          Gratuito
          <br>
          <button>click Aqui</button>
        </td>
     </tr>
      
    </tbody>

  </table>
 -->



</div>