


<div style="text-align: center">
    <!-- style="font-size:16px; background: #1c355d;border-radius: 33px; border: 3px solid #ff7f27;width: 46px;height: 46px" type="button" class="btn btn-primary  btn-md"   -->
    <!-- onclick="document.getElementById('id02').style.display='block'" title="Enviar para Veículo" -->
    

    <button ng-click="gerar()" class="btn-solistica"> 
        
      Paulo
      <!-- <i class="fas fa-barcode fa-2x"></i> -->
      <img src="../../img/ico/merge.png" alt="merge" height="28" width="28" title="Merge Rotas">

      <!-- <i class="fa fa-arrow-circle-down /fa-2x"></i> -->
    </button>
  
    <button onclick="document.getElementById('id02').style.display='block'" title="Enviar para Veículo"
      class="btn-solistica">
      <i class="fa fa-arrow-circle-down fa-2x"></i>
    </button>
  
    <button onclick="document.getElementById('id02').style.display='block'" title="Enviar para Veículo"
      class="btn-solistica">
      <i class="fas fa-truck fa-2x"></i>
    </button>
  
  </div>
  