<div>


    <button type="button" class="btn btn-primary" ng-click="Add()">sakvar cliente</button>

    </button>


    <ul ng-repeat="i in ListOfEmployee">
        <li>
            {{i.CODIGO_ROTEIRIZACAO}}
        </li>

        <li>
            {{i.CODIGO_ROTEIRIZACAO}}
        </li>

        <li>
            {{i.CODIGO_ROTEIRIZACAO}}
        </li>


    </ul>

</div>
<div>





    <button type="button" class="btn btn-primary" ng-click="ler()">get</button>

</button>


    <ul ng-repeat="i in ListOfEmployee">
        <li>
            {{i.CODIGO_ROTEIRIZACAO}}
        </li>

        <li>
            {{i.CODIGO_FILIAIS}}
        </li>

        <li>
            {{i.ENVIO_NS}}
        </li>
    </ul>

</div>